h1 {
    font-style: italic;
}
nav button {
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #f2f2f2;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

